@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #abc8ff2a transparent;
}

html.dark * {
  scrollbar-color: #abc8ff2a transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f545e4d;
  border-radius: 12px;
}

html.dark *::-webkit-scrollbar-thumb {
  background-color: #abc8ff2a;
  border-radius: 12px;
}
