@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #abc8ff2a transparent;
}

body {
  overflow-y: scroll !important;
}

html.dark-theme * {
  scrollbar-color: #abc8ff2a transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3d41494d;
  border-radius: 12px;
}

html.dark-theme *::-webkit-scrollbar-thumb {
  background-color: #97a1b44d;
  border-radius: 12px;
}

.nextui-navbar-collapse-wrapper {
  overflow: hidden;
}
